.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  padding: 0;
  .breadcrumbs__item:last-child {
    .breadcrumbs__link {
      text-decoration: none;
      pointer-events: none;
      color: #5a737c;
    }
  }
}
.breadcrumbs__item {
  position: relative;
  list-style: none;
  margin-right: 30px;

  &::after {
    content: '';
    width: 15px;
    position: absolute;
    bottom: 12px;
    right: -22px;
    display: block;
    background-color: $highlight;
    height: 1px;
    color: $highlight;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.breadcrumbs__link {
  font-size: 12px;
  white-space: nowrap;
  line-height: 1;
  color: #063546;
  &:hover {
    text-decoration: none;
  }
}
