.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(6, 39, 75, .6);
}
.popup,
.popup-success {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  width: 380px;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  background-color: #fff;
  background-image: url('../img/bg-popup.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 0 13px 29px rgba(22, 51, 68, .35);
}

.popup {
  padding: 40px 60px;
}

.popup-success {
  padding: 25px 40px;
}

.popup__title {
  font-family: $font;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 26px;
  text-align: center;
  color: #2580a2;
}

.popup__close {
  position: absolute;
  top: 13px;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e9e9e9;
  svg {
    fill: $title;
    width: 12px;
    height: 12px;
  }
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__input {
  font-size: 12px;
  width: 100%;
  height: 34px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  color: #464646;
  border: none;
  border-radius: 17px !important;
  background-color: #e9e9e9;

  @include placeholder-color(#464646);
}

.popup__btn,
.popup-success__btn {
  font-family: $font-semibold;
  display: block;
  width: 140px;
  height: 34px;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color .5s;
  color: #fff;
  border: none;
  border-radius: 19px !important;
  background-color: #d1324c;
  box-shadow: 0 0 8px rgba(137, 18, 32, .2);
  &:hover {
    background-color: #d11d1c;
  }
}

.popup-success__title {
  font-family: $font-bold;
  font-size: 21px;
  line-height: 1.4;
  margin-bottom: 10px;
  text-align: center;
  color: #2580a2;
}

.popup-success__text {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
  color: #2580a2;
}
