//begin contacts-sec
section.contacts-sec
  .container
    .contacts-sec__body
      .contacts-sec__item.contacts-sec__item--left
        .contacts-sec__item-logo Ремонт реек
        .contacts-sec__item-text
          | Автосервис Ремонт реек
          br
          | Санкт-Петербург 2019
      .contacts-sec__item.contacts-sec__item--middle
        .contacts-sec__item-icon
          +svg('marker')
        .contacts-sec__item-text
          span Адрес
          a(href="https://goo.gl/maps/XVQxiUoZo1t" target="_blank" rel="nofollow noopener noreferrer") ул. Ивана Черных 31

      .contacts-sec__item.contacts-sec__item--right
        .contacts-sec__item-icon
          +svg('phone')
        .contacts-sec__item-text
          span Телефон
          a(href="tel:+78127771886") +7 (812) 777-18-86
//end   contacts-sec