//begin errors-section
section.errors-section
  .container
    .errors-section__item
      .errors-section__item-header
        +svg('attention')
        h3.errors-section__item-title Стук
      .errors-section__item-text
        p Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития.
    .errors-section__item
      .errors-section__item-header
        +svg('attention')
        h3.errors-section__item-title Течь
      .errors-section__item-text
        p Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития.
    .errors-section__item
      .errors-section__item-header
        +svg('attention')
        h3.errors-section__item-title Люфт
      .errors-section__item-text
        p Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития.
//end   errors-section