//begin half-section
section.half-section
  .container
    .half-section__left
      p Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития. Таким образом укрепление и развитие структуры представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Повседневная практика показывает, что рамки и место обучения кадров позволяет оценить значение модели развития.
    .half-section__right
      .half-section__item
        .half-section__item-icon
          img(src="assets/img/star.png" alt="icon")
        .half-section__item-text Преимущество
      .half-section__item
        .half-section__item-icon
          img(src="assets/img/star.png" alt="icon")
        .half-section__item-text Преимущество
      .half-section__item
        .half-section__item-icon
          img(src="assets/img/star.png" alt="icon")
        .half-section__item-text Преимущество
//end   half-section