//begin register
section.register
  .container
    .register__title
      span Запишитесь на диагностику
      br
      |прямо сейчас
      br
      |и получите
      =" "
      span скидку 10%!


    form.register__form
      input.register__input(name='name' placeholder='Имя')
      input.register__input.phone-mask(name='phone' placeholder='+7 (...) ...-..-..')
      input.register__submit(type='submit' value='Записаться')
    .register__pic
      img(src="assets/img/register.jpg" alt="img")
//end   register