//begin slider-2
section.slider-2.container-lg
  ul.slider-2__list
    li.slider-2__item.slider-2__item--right
      .slider-2__item-pic
        img(src="assets/img/slider-2/slider-2-01.jpg" alt="slide")
      .slider-2__item-card
        h3.slider-2__item-title Скидка 20% до 12:00
        p.slider-2__item-text Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития.
        button.slider-2__item-btn.popup-open Записаться
    li.slider-2__item.slider-2__item--left
      .slider-2__item-card
        h3.slider-2__item-title Скидка 10% с 21:00
        p.slider-2__item-text Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития.
        button.slider-2__item-btn.popup-open Записаться
      .slider-2__item-pic
        img(src="assets/img/slider-2/slider-2-02.jpg" alt="slide")

//end   slider-2