//begin slider-3
section.slider-3.container-lg
  ul.slider-3__list
    li.slider-3__item
      a(href="#").slider-3__link
        img(src="assets/img/slider-3/slider-3-01.jpg" alt="slide")
    li.slider-3__item
      a(href="#").slider-3__link
        img(src="assets/img/slider-3/slider-3-02.jpg" alt="slide")
    li.slider-3__item
      a(href="#").slider-3__link
        img(src="assets/img/slider-3/slider-3-03.jpg" alt="slide")
    li.slider-3__item
      a(href="#").slider-3__link
        img(src="assets/img/slider-3/slider-3-01.jpg" alt="slide")
    li.slider-3__item
      a(href="#").slider-3__link
        img(src="assets/img/slider-3/slider-3-02.jpg" alt="slide")
    li.slider-3__item
      a(href="#").slider-3__link
        img(src="assets/img/slider-3/slider-3-03.jpg" alt="slide")

  .slider-3__footer
    a(href="#").slider-3__footer-link
      span все фотографии
      +svg('right-arrow')


//end   slider-3