//begin header-menu
nav.header-menu
  ul.header-menu__list
    li.header-menu__item
      a(href="#").header-menu__link Главная
    li.header-menu__item
      a(href="#").header-menu__link Услуги
    li.header-menu__item
      a(href="#").header-menu__link.active Калькулятор
    li.header-menu__item
      a(href="#").header-menu__link О компании
    li.header-menu__item
      a(href="#").header-menu__link Контакты

  .header-menu__contacts
    a.header-menu__contacts-phone(href="tel:+88005555535")
      span 8 (800) 555-55-35
    a.header-menu__contacts-adress(href="https://goo.gl/maps/LcC4fNeiTpm" target="_blank" rel="nofollow noopener noreferrer")
      +svg('marker')
      span ул. Ленина, д.14
  // end header-contacts
//end header-menu