//begin header-menu
nav.header-menu
  ul.header-menu__list
    li.header-menu__item
      a(href="#").header-menu__link Главная
    li.header-menu__item
      a(href="#").header-menu__link Услуги
    li.header-menu__item
      a(href="#").header-menu__link.active Калькулятор
    li.header-menu__item
      a(href="#").header-menu__link О компании
    li.header-menu__item
      a(href="#").header-menu__link Контакты
//end header-menu