//begin popup
.popup__layer
  .popup
    h3.popup__title
      |Перезвоним через
      br
      |10 минут
    span.popup__close
      +svg('close')
    form.popup__form
      input.popup__input(type="text" name="name" placeholder="Имя")
      input.popup__input.phone-mask(type="text" name="phone" placeholder="Телефон")
      button.popup__btn Записаться
  .popup-success
    h3.popup-success__title Благодарим за обращение
    p.popup-success__text Наш менеджер скоро свяжется с Вами
    button.popup-success__btn Ок
//end popup