*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.38;
  color: $text;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 10px 0;
}
h1 {
  font-family: $font-bold;
  font-size: 42px;
  line-height: 1.1;
  color: $title;
}
h2 {
  font-family: $font-bold;
  font-size: 36px;
  color: $title;
}
h3 {
  font-family: $font-bold;
  font-size: 30px;
  color: $title;
}
h4 {
  font-family: $font;
  font-size: 24px;
  color: $title;
}
h5 {
  font-family: $font-bold;
  font-size: 18px;
  color: $highlight;
}
h6 {
  font-family: $font;
  font-size: 18px;
  color: $highlight;
}
p {
  font-size: 12px;
  margin: 0 0 20px 0;
  color: #161616;
  strong {
    font-family: $font-bold;
  }
}
a {
  transition: color .5s;
  color: $highlight;
  &:hover {
    text-decoration: none;
    color: $highlight-hov;
  }
}
ol,
ul {
  li {
    padding: 3px 0;
  }
}
ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}
//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}
input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}
input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;
  &::placeholder {
    @include placeholder-color($text);
  }
}
textarea {
  resize: none;
}
input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}
svg {
  display: block;
  overflow: visible;
}
//изменяем цвет выделения текста мышью
::selection {
  // background-color: $brand;
  // color: $brand;
  // text-shadow: none;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  &.no-scroll {
    overflow: hidden;
  }
}
.main {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  flex-grow: 1;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 650px;
    max-width: 100%;
    height: 507px;
    content: '';
    background-image: url('../img/bg-bottom.png');
    background-size: contain;
  }
}
.main--inner {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 85px;

  flex-grow: 1;
  @include max(900) {
    padding-top: 120px;
  }
  @include max(600) {
    padding-top: 85px;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    max-width: 100%;
    content: '';
    background-size: contain;
  }
  &::before {
    top: 0;
    width: 560px;
    height: 290px;
    background-image: url('../img/bg-top.png');
  }
  &::after {
    bottom: 0;
    width: 650px;
    height: 507px;
    background-image: url('../img/bg-bottom.png');
  }
}

.container-lg {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;

  @include max(860) {
    max-width: 860px;
    padding: 10px 20px;
  }
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  padding: 10px 20px;
}

.title-section {
  font-family: $font;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #2580a2;
  @include max(425) {
    font-size: 26px;
  }
}

.title-section--half-section {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  text-align: left;
  &::before,
  &::after {
    position: absolute;
    content: '';
    background-color: #e0e7f1;
  }
  &::before {
    right: -70px;
    bottom: 13px;
    width: 50px;
    height: 2px;
  }
  &::after {
    right: -100px;
    bottom: 7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

.banner {
  img {
    display: block;
    width: 100%;
  }
}

// скрываем все слайды кроме первого
// при отключенном JS
// .slick-slide исправить на текущий класс
.no-js .slick-slide:not(:first-child) {
  display: none;
}

// скрываем слайдер до его инициализации
// .card-slider-lg__list исправить на текущий класс
.card-slider-lg__list {
  visibility: hidden;
}
.card-slider-lg__list.slick-initialized {
  visibility: visible;
}
