// ***** main colors *******
$brand: #063546;
$dark: #0f0f10;
$light: #fff;

$highlight: #d1324c;
$highlight-hov: #d1324c;

// ***** text colors *******
$text: #0f0f10;
$title: #063546;

// ===== fonts =====
$font:            'Exo2', sans-serif;
$font-bold:       'Exo2-Bold', sans-serif;
$font-semibold:   'Exo2-Semibold', sans-serif;
$font-os-bold:    'OpenSans-Bold', sans-serif;

// ===== sizes =====
$radius-btn: 6px;
