extends ../_template

block variables
  - var title       = 'Ремонт рулевых реек'
  - var description = 'Ремонт рулевых реек'
  - var ogtitle     = 'Ремонт рулевых реек'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    section.main
      include ../sections/contacts
    //end content

    include ../sections/footer