extends ../_template

block variables
  - var title       = 'Ремонт рулевых реек'
  - var description = 'Ремонт рулевых реек'
  - var ogtitle     = 'Ремонт рулевых реек'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    section.main
      section
        .container
          h2.title-section.title-section--half-section О сервисе
      include ../sections/half-section
      section
        .container
          h2.title-section Спецпредложения
      include ../sections/slider-2
      section
        .container
          h2.title-section Наши работы
      include ../sections/slider-3
      section
        .container
          h2.title-section Контакты
      include ../sections/contacts
    //end content

    include ../sections/footer